<?xml version="1.0" encoding="utf-8"?>
<packages>
		<package id="ros-dashing-ament-cmake"/>
		<package id="ros-dashing-ament-cmake-pytest"/>
		<package id="ros-dashing-ament-lint-auto"/>
		<package id="ros-dashing-ament-lint-common"/>
		<package id="ros-dashing-launch"/>
		<package id="ros-dashing-launch-testing"/>
		<package id="ros-dashing-launch-testing-ament-cmake"/>
		<package id="ros-dashing-launch-testing-ros"/>
		<package id="ros-dashing-pendulum-msgs"/>
		<package id="ros-dashing-rclcpp"/>
		<package id="ros-dashing-rmw-implementation-cmake"/>
		<package id="ros-dashing-ros2run"/>
		<package id="ros-dashing-rttest"/>
		<package id="ros-dashing-tlsf-cpp"/>
		<package id="ros-dashing-ros-workspace"/>

</packages>